* {
  border: 1px solid black;
  font-family: 'Share Tech Mono', monospace;
}

.container {
  position: relative;
  top: 5rem;
}

.btn {
  width: 100%;
  text-align: center;
  margin: 5px;
}


#display {
  border: 1px solid black;
}

#entry {
  font-size: 5rem;
}

#history {
  font-size: 2rem;
  color: grey;
}
