* {
  /*border: 1px solid black;*/
  font-family: 'Share Tech Mono', monospace;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

table {
  width: 100%;
  margin: 20px 0 20px 0;
}

td {
  padding: 5px;
  /*border: 1px solid black;*/
  text-align: center;
}

.container {
  position: relative;
  top: 60px;
}

.btn {
  box-shadow: 2px 2px 2px black;
  height: 50px;
  width: 50px;
  font-size: 2rem;
}

#calculator {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px gray;
  background-color: #f4f4f4;
background-size:16px 16px;
  min-width: 300px;
}

#display {
  background-color: #fff;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
  border: 1px solid black;
  margin: 10px 0 10px 0;
}

#entry {
  font-size: 5rem;
  margin: 5px
}

#history {
  font-size: 2rem;
  color: grey;
  margin: 5px
}
