* {
  /*border: 1px solid black;*/
  font-family: 'Share Tech Mono', monospace;
}

.container {
  position: relative;
  top: 60px;
}


table {
  width: 100%;
  margin: 20px 0 20px 0;
  /*width: 100%;*/
}

td {
  padding: 5px;
  /*border: 1px solid black;*/
  text-align: center;
}

.btn {
  box-shadow: 2px 2px 2px black;
  width: 100%;
}

#calculator {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px gray;
  background-color: #f4f4f4;
  min-width: 300px;
}

#display {
  background-color: #fff;
  border: 1px solid black;
  margin: 10px;
}

#entry {
  font-size: 5rem;
}

#history {
  font-size: 2rem;
  color: grey;
}
